{% extends 'Admin/layoutAdmin.twig' %}


{% block body %}
<section class="adminbagr" style="">
<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto animated fadeInDown">
            {% if errors  %}
                <div class="alert alert-danger">
                    <ul>
                        {% for item in errors %}
                        <li>{{item.msg}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="card formConstr">
                <h2 class="text-center">Formulaire Ajout de Constructeur</h2>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" name="Nom_constructeur" id="" placeholder="Nom constrcteur" value="{{newAdd.Nom_constructeur}}" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="Localisation" id="" placeholder="Localisation du constructeur" value="{{newAdd.Localisation}}" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea name="description" id="" cols="30" rows="3" class="form-control" value="" placeholder="Description">{{newAdd.description}}</textarea>
                        </div>
                        <div class="form-group">
                            <input name="LogoConstr1" type="file" class="form-control-file">
                        </div>
                        <div class="form-group">
                            <input name="date_Creat_Constr" type="date" class="form-control" value="{{newAdd.date_Creat_Constr}}" placeholder="Date de Creaction">
                        </div>
                        <div class="form-group">
                            <input name="Nbre_Agence" type="text" class="form-control" value="{{newAdd.Nbre_Agence}}" placeholder="Nombre Agence">
                        </div>
                        <div class="form-group">
                            <label>Image Projet </label>
                            <input name="imageConstr1" type="file" class="form-control-file">
                        </div>
                        <div class="form-group">
                            <label>Image Projet </label>
                            <input name="imageConstr2" type="file" class="form-control-file">
                        </div>
                        <div class="form-group">
                            <label>Image Projet </label>
                            <input name="imageConstr3" type="file" class="form-control-file">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-success form-control">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}