{% extends 'Admin/layoutAdmin.twig' %}


{% block body %}
<section class="adminbagr" style="">
    <div class="container-fluid p-4">
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-12 col-12">
            {# <button type="button" class="btn btn-outline-primary"><a href="/Admins/constructeur/addConstruc" class="nav-link">Ajouter Constructeur</a></button> #}
            {# <button type="button" class="btn btn-outline-warning btn-block"><a class="nav-link" href="#">Modifier Constructeur</a></button>
            <button type="button" class="btn btn-outline-danger btn-block"><a class="nav-link" href="#"></a>Supprimer Constructeur</button> #}
        </div>
        <div class="col-md-10 col-sm-8 col-xs-12 col-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nom et Prénom</th>
                        <th>Telephone</th>
                        <th>Localisation Projet</th>
                        <th>Préoccupation</th>
                        <th>Email</th>
                        <th>Constructeur</th>
                        <th>Date Envoi</th>
                        <th>Outils</th>
                    </tr>
                </thead>
                {% for data in contact %}
                    <tbody>
                        <tr>
                            <td>{{data.FullName}}</td>
                            <td>{{data.Telephone}}</td>
                            <td>{{data.Localisation_Projet}}</td>
                            <td>{{data.Question_Poser}}</td>
                            <td>{{data.Email}}</td> 
                            <td>
                                <div class="">
                                    <h5 class="text-dark">{{data.Nom_constructeur}}</h5>
                                    <img src="../../uploads/{{data.LogoConstr1}}" alt="" class="img-fluid" style="width:65px;height:30px">
                                </div>
                            </td> 
                            <td>{{data.Created_at}}</td>  
                            <td>
                                {# <div class="d-flex"> #}
                                    {# <a href="/Admins/constructeur/editConstru/{{data.id}}" class="btn btn-outline-secondary mr-2">Edit</a>  #}
                                    <a href="/Admins/ContactConstructeu/delete/{{data.id}}" class="btn btn-outline-danger">Delete</a> 
                                {# </div>   #}
                            </td>                  
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>

    </div>
</div>
</section>
{% endblock %}